@import url("https://fonts.googleapis.com/css2?family=Krub:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background: linear-gradient(to bottom, black, rgb(3 7 18), black);
  width: 100%;
  height: 100%;
  font-family: "Lato", cursive;
}
